<!DOCTYPE html>
<html>
	<head>
		<title>Locust</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css" media="screen">
		<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
		<link href="/static/nv.d3.css" rel="stylesheet" type="text/css">
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

	</head>
	<body class="{{state}}">
		<div class="top">
			<div class="top_content">
				<img src="/static/img/logo.png" class="logo" onclick="$('.about').fadeIn();" />
				<div class="boxes">
					<div class="top_box box_status">
						<div class="label">
							STATUS
						</div>
						<div class="value" id="status_text">
							{{state}}
						</div>
						<div class="user_count">
							<span id="userCount">{{user_count}}</span> users
						</div>
						<a href="#" class="new_test" id="new_test">New test</a>
						<a href="#" class="edit_test">Edit</a>
					</div>
					{% if is_distributed %}
					<div class="top_box box_slaves" id="box_rps">
						<div class="label">
							SLAVES
						</div>
						<div class="value" id="slaveCount">
							{{slave_count}}
						</div>
					</div>
					{% endif %}
					<div class="top_box box_rps box_running" id="box_rps">
						<div class="label">
							RPS
						</div>
						<div class="value" id="total_rps">
							0
						</div>
					</div>
					<div class="top_box box_fail box_running" id="box_fail">
						<div class="label">
							FAILURES
						</div>
						<div class="value">
							<span id="fail_ratio"></span>%
						</div>
					</div>
					<div class="top_box box_slaves" id="box_rps">
						<div class="label">
							PEAK USERS
						</div>
						<div class="value" id="peakUsers">
							{{user_count}}
						</div>

					</div>
					<div class="top_box box_stop box_running" id="box_stop">
						<a href="/stop"><img src="/static/img/stop.png" style="border:0;"></a>
					</div>
					<div class="top_box box_stop box_running" id="box_reset">
						<a href="/stats/reset">Reset Stats</a>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div class="main">

			<div class="start" id="start">
				<div style="position:relative;">
					<a href="#" class="close_link">Close</a>
				</div>
				<div class="padder">
					<h2>Start new Locust swarm</h2>
					<form action="/swarm" method="POST" id="swarm_form">
						<label for="locust_count">Number of users to simulate</label>
						<input type="text" name="locust_count" id="locust_count" class="val" />
						<br>
						<label for="hatch_rate">Hatch rate <span style="color:#8a8a8a;">(users spawned/second)</span></label>
						<input type="text" name="hatch_rate" id="hatch_rate" class="val" />
						<br>
						<label for="time_to_run">Specify the time to run the test</label>
						<input type="radio" name="time_to_run" class="time_to_run" value="forever">
						forever
						<input type="radio" name="time_to_run" class="time_to_run" id = "run_time" value="time_limited" checked>
						run for
						<input type="text" name="run_time_in_minutes" id="run_time_in_minutes" value="7"/>
						<span style="color:#8a8a8a;">minutes</span></label>
						<input type="image" src="/static/img/start_button.png" value="Start swarming" id="start_button" class="start_button"/>
					</form>
					<div style="clear:right;"></div>
				</div>
			</div>

			<div class="edit" id="edit">
				<div style="position:relative;">
					<a href="#" class="close_link">Close</a>
				</div>
				<div class="padder">
					<h2>Change the locust count</h2>
					<form action="/swarm" method="POST" id="edit_form">
						<label for="locust_count">Number of users to simulate</label>
						<input type="text" name="locust_count" id="new_locust_count" class="val" />
						<br>
						<label for="hatch_rate">Hatch rate <span style="color:#8a8a8a;">(users spawned/second)</span></label>
						<input type="text" name="hatch_rate" id="new_hatch_rate" class="val" />
						<br>
						<label for="time_to_run">Specify the time to run the test</label>
						<input type="radio" name="time_to_run" class="time_to_run" value="forever">
						forever
						<input type="radio" name="time_to_run" class="time_to_run" id = "run_time" value="time_limited" checked>
						run for
						<input type="text" name="run_time_in_minutes" id="run_time_in_minutes" value="7"/>
						<span style="color:#8a8a8a;">minutes</span></label>
						<input type="image" src="/static/img/start_button.png" value="Start swarming"  id="edit_button" class="start_button"/>
					</form>
					<div style="clear:right;"></div>
				</div>
			</div>

			<div class="status" id="status">
				<ul class="tabs">
					<li>
						<a href="#">Statistics</a>
					</li>
					<li>
						<a href="#">Failures</a>
					</li>
					<li>
						<a href="#">Exceptions</a>
					</li>
					<li>
						<a href="#">Download Data</a>
					</li>
					<li>
						<a href="#" id="results">Results Summary</a>
					</li>
				</ul>
				<div style="clear:left;"></div>
				<div class="panes">
					<div style="display:none;">
						<table id="stats" class="stats">
							<thead>
								<tr>
									<th class="stats_label" href="#" data-sortkey="method">Type</th>
									<th class="stats_label" href="#" data-sortkey="name">Name</th>
									<th class="stats_label numeric" href="#" data-sortkey="num_requests" title="Number of successful requests"># requests</th>
									<th class="stats_label numeric" href="#" data-sortkey="num_failures" title="Number of failures"># fails</th>
									<th class="stats_label numeric" href="#" data-sortkey="median_response_time" title="Median response time">Median</th>
									<th class="stats_label numeric" href="#" data-sortkey="avg_response_time" title="Average response time">Average</th>
									<th class="stats_label numeric" href="#" data-sortkey="min_response_time" title="Min response time">Min</th>
									<th class="stats_label numeric" href="#" data-sortkey="max_response_time" title="Max response time">Max</th>
									<th class="stats_label numeric" href="#" data-sortkey="avg_content_length" title="Average response size">Content Size</th>
									<th class="stats_label numeric" href="#" data-sortkey="current_rps" title="Current number of requests per second"># reqs/sec</th>
									<th class="stats_label numeric" href="#" data-sortkey="percentile" title="95th Percentile">95th Percentile</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
					<div style="display:none;">
						<table id="errors" class="stats">
							<thead>
								<th class="error_count stats_label" data-sortkey="1"># fails</th>
								<th class="stats_label" href="#" data-sortkey="method">Method</th>
								<th class="stats_label" href="#" data-sortkey="name">Name</th>
								<th class="error_type stats_label" data-sortkey="0">Type</th>
							</thead>
							<tbody></tbody>
						</table>
					</div>
					<div style="display:none;">
						<table id="exceptions" class="stats">
							<thead>
								<th class="exception_occurences stats_label" data-sortkey="1"># occurences</th>
								<th class="exception_traceback stats_label" data-sortkey="0">Traceback</th>
							</thead>
							<tbody></tbody>
						</table>
					</div>
					<div style="display:none;">
						<div style="margin-top:20px;">
							<a href="/stats/requests/csv">Download request statistics CSV</a>
							<br>
							<a href="/stats/distribution/csv">Download response time distribution CSV</a>
							<br>
							<a href="/exceptions/csv">Download exceptions CSV</a>
						</div>
					</div>
					<div style="display:none;">
						<table id="stats" class="stats">
							<thead>
								<tr>
									<th class="stats_label" href="#" data-sortkey="method">Type</th>
									<th class="stats_label" href="#" data-sortkey="name">Name</th>
									<th class="stats_label numeric" href="#" data-sortkey="num_requests" title="Number of successful requests"># requests</th>
									<th class="stats_label numeric" href="#" data-sortkey="num_failures" title="Number of failures"># fails</th>
									<th class="stats_label numeric" href="#" data-sortkey="median_response_time" title="Median response time">Median</th>
									<th class="stats_label numeric" href="#" data-sortkey="avg_response_time" title="Average response time">Average</th>
									<th class="stats_label numeric" href="#" data-sortkey="min_response_time" title="Min response time">Min</th>
									<th class="stats_label numeric" href="#" data-sortkey="max_response_time" title="Max response time">Max</th>
									<th class="stats_label numeric" href="#" data-sortkey="avg_content_length" title="Average response size">Content Size</th>
									<th class="stats_label numeric" href="#" data-sortkey="current_rps" title="Current number of requests per second"># reqs/sec</th>
									<th class="stats_label numeric" href="#" data-sortkey="percentile" title="95th Percentile">95th Percentile</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						<div class="graph_container">

							<div class="area_chart">
								<div class="chart_title">
									95th Percentile
								</div>
								<div id="percentile">
									<svg></svg>
								</div>
							</div>

							<div class="area_chart">
								<div class="chart_title">
									Load
								</div>
								<svg id="loadChart"></svg>
							</div>

							<div class="area_chart">
								<div class="chart_title">
									Requests
								</div>
								<svg id="requestChart"></svg>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="about" style="display:none;">
			<div style="position:relative;">
				<a href="#" class="close_link">Close</a>
			</div>
			<div class="padder">
				<h1>About</h1>
				<p>
					The original idea for Locust was Carl Byström's who made a first proof of concept in June 2010.
					Jonatan Heyman picked up Locust in January 2011, implemented the current concept of Locust classes
					and made it work distributed across multiple machines.
				</p>
				<p>
					Jonatan, Carl and Joakim Hamrén has continued the development of Locust at their job,
					ESN Social Software, who have adopted Locust as an inhouse Open Source project.
				</p>

				<h1>Authors and Copyright</h1>
				<a href="http://cgbystrom.com/">Carl Byström</a> (<a href="http://twitter.com/cgbystrom/">@cgbystrom</a>)
				<br>
				<a href="http://heyman.info/">Jonatan Heyman</a> (<a href="http://twitter.com/jonatanheyman/">@jonatanheyman</a>)
				<br>
				Joakim Hamrén (<a href="http://twitter.com/Jahaaja/">@jahaaja</a>)
				<br>
				<a href="http://esn.me/">ESN Social Software</a> (<a href="http://twitter.com/uprise_ea/">@uprise_ea</a>)
				<br>
				Hugo Heyman (<a href="http://twitter.com/hugoheyman/">@hugoheyman</a>)

				<h1>License</h1>
				Open source licensed under the MIT license.

				<h1>Version</h1>
				{{version}}
				<br>
				<a href="http://locust.io/">http://locust.io</a>
			</div>
		</div>
		</div>

		<script type="text/javascript" src="/static/jquery-1.4.min.js"></script>
		<script type="text/javascript" src="/static/jquery.jqote2.min.js"></script>
		<script type="text/javascript" src="/static/jquery.tools.min.js"></script>
		<script type="text/javascript" src="/static/nv.d3.js"></script>
		<script type="text/x-jqote-template" id="stats-template">
			<![CDATA[
			<tr class="<%=(alternate ? "dark" : "")%> <%=(this.name == "Total" ? "total" : "")%>">
			<td><%= (this.method ? this.method : "") %></td>
			<td><%= this.name %></td>
			<td class="numeric"><%= this.num_requests %></td>
			<td class="numeric"><%= this.num_failures %></td>
			<td class="numeric"><%= Math.round(this.median_response_time) %></td>
			<td class="numeric"><%= Math.round(this.avg_response_time) %></td>
			<td class="numeric"><%= this.min_response_time %></td>
			<td class="numeric"><%= this.max_response_time %></td>
			<td class="numeric"><%= Math.round(this.avg_content_length) %></td>
			<td class="numeric"><%= Math.round(this.current_rps*100)/100 %></td>
			<td class="numeric"><%= Math.round(this.percentile)%></td>
			</tr>
			<% alternate = !alternate; %>
			]]>
		</script>
		<script type="text/x-jqote-template" id="errors-template">
			<![CDATA[
			<tr class="<%=(alternate ? "dark" : "")%>">
			<td><%= this.occurences %></td>
			<td><%= this.method %></td>
			<td><%= this.name %></td>
			<td><%= function(e) { return e.replace("<", "&lt;"); }(this.error) %></td>
			</tr>
			<% alternate = !alternate; %>
			]]>
		</script>
		<script type="text/x-jqote-template" id="exceptions-template">
			<![CDATA[
			<tr class="<%=(alternate ? "dark" : "")%>">
			<td class="occurences"><%= this.count %></td>
			<td class="traceback" title="Occured on: <%= this.nodes %>"><%= function(e) { return e.replace("<", "&lt;"); }(this.traceback) %>
			<%= function(e) { return e.replace("<", "&lt;"); }(this.msg) %></td>
			</tr>
			<% alternate = !alternate; %>
			]]>
		</script>
		<script>
			$(document).ready(function() {

				var timer = setInterval(function() {
					$('#results').trigger('click');
				}, 20 * 1000);

				$('#box_stop').click(function() {
					clearInterval(timer);
				});

				$('#results').click(function() {

					$.get('/stats/requests', function(data) {
						$('#percentile svg').empty();
						percentile(data);
					});

					$.get('/stats-summary', function(data) {
						updateLineChart(data);
					});



				});

			});



			function percentile(data) {
				var data = $.parseJSON(data);
				var getData = data.stats;

				if (getData.length > 0) {

					var data = [];

					var graphObj1 = {};
					var graphObj2 = {};
					graphObj1.key = "Max Response Time";
					graphObj2.key = "95th Percentile";

					graphObj1.nonStackable = false;
					graphObj2.nonStackable = false;

					var arrayValue1 = [];
					var arrayValue2 = [];
					var tick = [];
				}
				for (index in getData) {

					var obj1 = {};
					var obj2 = {};

					var xValue = getData[index].name;
					tick.push(xValue);
					console.log(tick)
					var yValue1 = getData[index].max_response_time;
					var yValue2 = getData[index].percentile;

					obj1.x = xValue;
					obj1.y = yValue1;
					arrayValue1.push(obj1);

					obj2.x = xValue;
					obj2.y = yValue2;
					arrayValue2.push(obj2);
				}

				graphObj1.values = arrayValue1;
				graphObj2.values = arrayValue2;
				var finalGraphValue = [];
				finalGraphValue.push(graphObj1);
				finalGraphValue.push(graphObj2);

				nv.addGraph({
					generate : function() {
						var width = $('#percentile').width(), height = 350;
						chart = nv.models.multiBarChart().x(function(d) {
							return d.x;
						}).y(function(d) {
							return d.y;
						}).color(['#aec7e8', '#7b94b5', '#486192']).stacked(true)
						.reduceXTicks(false).rotateLabels(90)
						console.log(tick);

						var chart = nv.models.multiBarChart().width(width).height(height).stacked(true);
						chart.yAxis.tickFormat(d3.format(',.0f'));


						chart.dispatch.on('renderEnd', function() {
							console.log('Render Complete');
						});

						var svg = d3.select('#percentile svg').datum(finalGraphValue);
						svg.transition().duration(0).call(chart);

						return chart;
					},
					callback : function(graph) {
						/*
						 nv.utils.windowResize(function() {
						 var width = nv.utils.windowSize().width;
						 var height = nv.utils.windowSize().height;
						 graph.width(width).height(height);

						 d3.select('#percentile svg').attr('width', width).attr('height', height).transition().duration(0).call(graph);

						 });*/

					}
				});

			}

			function updateLineChart(data) {
				var loadGraphArray = [];
				var requestGraphArray = [];
				var flagRequest = 0;
				var flagLoag = 0;

				for (indexValue in data) {
					var keyValue = data[indexValue].key;
					var gObj = {};
					//gObj.key = keyValue.replace(/\load./g, '').replace(/\-/g, ' ').replace(/\_/g, ' ').toLowerCase().replace(/(?:_| |\b)(\w)/g, function(str, p1) {
					//	return ' ' + p1.toUpperCase();
					//});

					gObj.key = keyValue.replace(/\load./g, '').replace(/\-/g, ' ');

					var graphValues = data[indexValue].values;
					var sortgraphValues = graphValues.sort(function(a, b) {
						var valueA, valueB;
						valueA = a[0];
						valueB = b[0];
						if (valueA < valueB) {
							return -1;
						} else if (valueA > valueB) {
							return 1;
						}
						return 0;
					});

					gObj.values = sortgraphValues;

					if (data[indexValue].values.length > 0) {
						if (keyValue == 'requests_processed') {
							flagRequest = (data[indexValue].values.length > 1) ? 1 : 0;
							requestGraphArray.push(gObj);
						} else {
							flagLoag = (data[indexValue].values.length > 1) ? 1 : 0;
							loadGraphArray.push(gObj);
						}
					}
				}

				var config = [{
					"loadSetting" : {
						"yLabel" : "Load (max)",
						"xLabel" : "Time",
						"id" : "loadChart"
					},
					"requestSetting" : {
						"yLabel" : "Request (count) ",
						"xLabel" : "Time",
						"id" : "requestChart"
					},
					"memorySetting" : {
						"yLabel" : "Memory ",
						"xLabel" : "Time",
						"id" : "requestChart"
					}
				}];
				if (flagLoag) {
					var dataDetails = {};
					dataDetails.data = loadGraphArray;
					dataDetails.config = config[0].loadSetting;
					//chart.renderAreaChart(chartId1, loadGraphArray);
					chart.renderAreaChart(dataDetails);
				}
				if (flagRequest) {
					var dataDetails = {};
					dataDetails.data = requestGraphArray;
					dataDetails.config = config[0].requestSetting;
					//chart.renderAreaChart(chartId2, requestGraphArray);
					chart.renderAreaChart(dataDetails);
				}
			}

			var chart = {
				renderBarChart : function(dataInfo) {
					$('#percentile svg').empty();
					nv.addGraph({
						generate : function() {
							var width = nv.utils.windowSize().width, height = nv.utils.windowSize().height;
							var chart = nv.models.multiBarChart().width(width).height(height).stacked(false);

							chart.dispatch.on('renderEnd', function() {
								console.log('Render Complete');
							});


							var svg = d3.select('#percentileChart').datum(dataInfo);
							svg.transition().duration(0).call(chart);
							return chart;
						},
						callback : function(graph) {
							nv.utils.windowResize(function() {
								var width = nv.utils.windowSize().width;
								var height = nv.utils.windowSize().height;
								graph.width(width).height(height);
								d3.select('#percentileChart').attr('width', width).attr('height', height).transition().duration(0).call(graph);

							});
						}
					});
				},
				renderAreaChart : function(dataInfo) {
					$('#' + chartId).empty();
						$('.nvtooltip').remove();
					var chartId = dataInfo.config.id;

					var histcatexplong = dataInfo.data;

					console.log(histcatexplong);



					var yLabel = dataInfo.config.yLabel;
					var xLabel = dataInfo.config.xLabel;



					var colors = d3.scale.category20();
					var chart;
					nv.addGraph(function() {
						chart = nv.models.stackedAreaChart().showControls(false).useInteractiveGuideline(true).x(function(d) {
							return d[0];
						}).y(function(d) {

							var yval = d[1];
							if (isNaN(yval)) {
								yval = 0;
							}
							return yval;
						}).controlLabels({
							stacked : "Stacked"
						}).duration(300);
						chart.yAxis.axisLabel(yLabel);
						chart.xAxis.axisLabel(xLabel);

						chart.xAxis.tickFormat(function(d) {
							d = parseInt(d);
							//console.log(d);
							return d3.time.format('%X')(new Date(d))
							//return "ggggG
						});

						chart.yAxis.tickFormat(d3.format(',.1f'));

						chart.legend.vers('furious');

						/*
						 chart.interactiveLayer.tooltip.contentGenerator(function(data) {
						 var html = "<div class='toolTipContent'>";
						 html += "<div class='titleContentTitle'> " + data.value + "</div>";
						 var series = data.series;
						 for (i in series) {
						 html += "<div class='titleContentDiv'><span class='tooltipIcon' style='border:1px solid #ddd;background : " + series[i].color + "'></span><span class='titleContentText'> " + series[i].key + "</span></div>";
						 }

						 html += "</div>";
						 return html;
						 });*/

						d3.select('#' + chartId).datum(histcatexplong).transition().duration(1000).call(chart).each('start', function() {
							setTimeout(function() {
								d3.selectAll('#' + chartId + ' *').each(function() {
									if (this.__transition__)
										this.__transition__.duration = 1;
								})
							}, 0)
						});

						nv.utils.windowResize(chart.update);
						return chart;
					});

				}
			}

		</script>

		<script type="text/javascript" src="/static/locust.js"></script>
	</body>
</html>
